__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
env/
ENV/
*.egg
*.egg-info/
dist/
build/
*.whl

playwright-report/
*.snapshots/
screenshots/
videos/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.log
